.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: calc(100vh - (8rem + 6rem));
}

.form-content {
  padding: 8rem;
  width: 100%;
  margin: 1rem;
  max-width: 570px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  h1 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  p {
    font-size: 1.9rem;
  }
  a {
    color: rgb(17, 122, 202);
    cursor: pointer;
    text-decoration: underline;
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #19063dde;
    color: #fff;
    font-size: 2rem;
  }
}

.text-field {
  position: relative;
  border-radius: 5px;
  border: 2px solid #adadad;
  margin: 3rem 0;
  & input {
    width: 100%;
    padding: 0 1.5rem;
    height: 5rem;
    border: none;

    outline: none;
    background: none;
  }
  & label {
    position: absolute;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    top: 50%;
    left: 1.5rem;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s ease-in-out;
  }

  & input:focus ~ label,
  & input:valid ~ label,
  & input:empty ~ label {
    top: -2px;
    left: 1rem;
    // color: #2691d9;
    padding: 0 0.5rem;
    background-color: #fff;
  }
}
.forgot-pass {
  margin: -5px 0 20px 5px;
  font-size: 2rem;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
