//!Mobile
.Categories-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 7rem;
  .category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-top: 6rem;
    border-radius: 10px;
    background-color: #2b2d42;
    img {
      margin-top: -30px;
      width: 230px;
    }
    &:hover {
      cursor: pointer;
      background-color: darken($color: #2b2d42, $amount: 6);
      transition: all 0.5s ease-in-out;
      .category__image {
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
      }
    }
  }
  .category__title {
    margin-top: -30px;
    color: #fff;
    font-family: "Bebas Neue", cursive;

    h1 {
      font-size: 4rem;
      font-weight: 300;
    }
    p {
      font-size: 2rem;
      &::after {
        content: "â¯";
        margin-left: 1rem;
      }
    }
  }
}

.category-main-container {
  position: relative;
  display: flex;
  width: 360px;
  border-radius: 10px;
  margin-top: 7rem;
  height: 200px;
  background-color: #2b2d42;
  justify-content: space-between;

  .category__image {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 250px;
  }

  .category__title {
    //   width: 40%;
    //   height: 90%;
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding-bottom: 3rem;

    h1 {
      font-size: 5.5rem;
      font-weight: 300;
      margin-bottom: -15px;
      cursor: pointer;
    }
    p {
      font-size: 2rem;
      opacity: 0.8;
      cursor: pointer;
      &::after {
        content: ">";
        margin-left: 1rem;
      }
    }
  }
  &:hover {
    cursor: pointer;
    background-color: darken($color: #2b2d42, $amount: 6);
    transition: all 0.5s ease-in-out;
  }
}

//!Tablet
@media only screen and(min-width:1130px) {
  .Categories-container {
    width: 1044px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 2rem;

    .category-container {
      border-radius: 4rem;
      width: 340px;
      grid-column: span 2;
    }
  }

  .category-main-container {
    grid-column: span 6;
    // width: 100%;
    width: 700px;
    height: 30rem;
    border-radius: 4rem;

    .category__image {
      position: absolute;
      bottom: 0;
      left: 20px;
      height: 350px;
    }
    .category__title {
      margin-left: 300px;
      margin-bottom: 20px;
      h1 {
        margin-bottom: -0.9rem;
      }
    }
  }
}

//!Desktop
@media only screen and(min-width:1250px) {
  .Categories-container {
    width: 1044px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 2rem;

    .category-container {
      border-radius: 4rem;
      width: 340px;
      grid-column: span 2;
    }
  }

  .category-main-container {
    grid-column: span 3;
    width: 512px;
    height: 30rem;
    border-radius: 4rem;
    .category__title {
    }
  }
}
