@charset "UTF-8";
.Categories-container {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 7rem;
}

.Categories-container .category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  margin-top: 6rem;
  border-radius: 10px;
  background-color: #2b2d42;
}

.Categories-container .category-container img {
  margin-top: -30px;
  width: 230px;
}

.Categories-container .category-container:hover {
  cursor: pointer;
  background-color: #1f202f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Categories-container .category-container:hover .category__image {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Categories-container .category__title {
  margin-top: -30px;
  color: #fff;
  font-family: "Bebas Neue", cursive;
}

.Categories-container .category__title h1 {
  font-size: 4rem;
  font-weight: 300;
}

.Categories-container .category__title p {
  font-size: 2rem;
}

.Categories-container .category__title p::after {
  content: "❯";
  margin-left: 1rem;
}

.category-main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  border-radius: 10px;
  margin-top: 7rem;
  height: 200px;
  background-color: #2b2d42;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-main-container .category__image {
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 250px;
}

.category-main-container .category__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 210px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  padding-bottom: 3rem;
}

.category-main-container .category__title h1 {
  font-size: 5.5rem;
  font-weight: 300;
  margin-bottom: -15px;
  cursor: pointer;
}

.category-main-container .category__title p {
  font-size: 2rem;
  opacity: 0.8;
  cursor: pointer;
}

.category-main-container .category__title p::after {
  content: ">";
  margin-left: 1rem;
}

.category-main-container:hover {
  cursor: pointer;
  background-color: #1f202f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 1130px) {
  .Categories-container {
    width: 1044px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 2rem;
  }
  .Categories-container .category-container {
    border-radius: 4rem;
    width: 340px;
    grid-column: span 2;
  }
  .category-main-container {
    grid-column: span 6;
    width: 700px;
    height: 30rem;
    border-radius: 4rem;
  }
  .category-main-container .category__image {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 350px;
  }
  .category-main-container .category__title {
    margin-left: 300px;
    margin-bottom: 20px;
  }
  .category-main-container .category__title h1 {
    margin-bottom: -0.9rem;
  }
}

@media only screen and (min-width: 1250px) {
  .Categories-container {
    width: 1044px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 2rem;
  }
  .Categories-container .category-container {
    border-radius: 4rem;
    width: 340px;
    grid-column: span 2;
  }
  .category-main-container {
    grid-column: span 3;
    width: 512px;
    height: 30rem;
    border-radius: 4rem;
  }
}
/*# sourceMappingURL=Categories.style.css.map */