@charset "UTF-8";
.Categories-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 4rem;
  justify-items: center;
  width: 90vw;
  margin: 0 auto;
  margin-top: 12rem;
}

.category-gender {
  grid-column: span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background-color: #2b2d42;
  color: #fff;
  width: 90%;
  max-width: 500px;
  height: 20rem;
}

.category-gender:nth-child(1) {
  margin-bottom: 5rem;
}

.category-gender .category__title {
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.category-gender .category__title h1 {
  font-size: 4rem;
  font-weight: 300;
}

.category-gender .category__title p {
  font-size: 2rem;
  opacity: 0.9;
}

.category-gender .category__title p::after {
  content: "❯";
  margin-left: 1rem;
}

.category-gender .category__image {
  width: 130px;
}

.category-item {
  grid-column: span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  width: 80%;
  max-width: 300px;
  background-color: #2b2d42;
}

.category-item .category__image {
  width: 200px;
}

.category-item .category__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-top: -2rem;
  padding-bottom: 2rem;
}

.category-item .category__title h1 {
  font-size: 3.5rem;
}

.category-item .category__title p {
  font-size: 2rem;
  opacity: 0.9;
}

.category-item .category__title p::after {
  content: "❯";
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .Categories-container {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .category-gender {
    grid-column: span 3;
    width: 100%;
    max-width: 600px;
  }
  .category-gender:first-child {
    margin-bottom: 0;
  }
  .category-item {
    margin-top: 0;
    width: 95%;
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1024px) {
  .Categories-container {
    width: 90%;
    max-width: 1200px;
    margin-top: 15rem;
    row-gap: 6rem;
  }
  .category-gender {
    max-width: 560px;
    min-width: none;
    height: 300px;
    border-radius: 4rem;
  }
  .category-gender .category__title {
    margin-left: 7rem;
    margin-bottom: 5rem;
  }
  .category-gender .category__image {
    width: 200px;
  }
  .category-item {
    width: 90%;
    max-width: 350px;
    border-radius: 4rem;
  }
}
/*# sourceMappingURL=Categories.style.css.map */