$primary: #19063d;

.nav-container {
  background: linear-gradient(270deg, #f2f2f2 0%, #ffffff 100%);
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 10rem;
  border-bottom: 1px solid #e5e2e2;
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 40px;
    height: 5px;
    background: $primary;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;

    &::before {
      transform: translateY(-12px);
    }
    &::after {
      transform: translateY(12px);
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 5px;
      background: $primary;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
    }
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    top: 10rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: fixed;
    background: linear-gradient(270deg, #f2f2f2 0%, #ffffff 100%);
    left: 0rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.09);
    max-height: 9999px;
    opacity: 1;
    transition: all 1s ease-in-out;
    overflow: hidden;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10rem;
      font-family: "Bebas Neue", cursive;
      font-size: 3rem;
      list-style: none;
      border-bottom: 1px solid #e5e2e2;
      width: 100%;
      text-align: center;
      cursor: pointer;
      &:hover {
        transition: all 0.15s ease-in-out;
        background: lighten($color: #e5e2e2, $amount: 2);
      }
    }
    .nav__cart {
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 4rem;
      height: 4rem;
      &:hover {
        background: lighten($color: #e5e2e2, $amount: 2);
      }
    }
  }
}
.nav-logo {
  cursor: pointer;
  img {
    width: 15.5rem;
  }
}
/*  Animation  */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-links {
  display: none;
  // max-height: 0;
}

// Navigation Links

@media only screen and(min-width:1024px) {
  .menu-btn__burger {
    display: none;
  }
  .nav-links {
    display: flex;
    li {
      margin: 0 3rem;
      cursor: pointer;
      font-family: "Bebas Neue", cursive;
      font-size: 3rem;
      color: $primary;
      list-style: none;
      &:hover {
        color: lighten($color: $primary, $amount: 5);
        transform: scale(1.1);
        transition: all 0.15s ease-in-out;
      }
    }
    .nav__cart {
      width: 4rem;
      height: 4rem;
      &:hover {
        transform: scale(1.1);
        transition: all 0.15s ease-in-out;
      }
    }
  }
}

//-------------------------------
// Hero Style
